server {
    listen 80;
    server_name {{ initapps_nginx.domain_name }} www.{{ initapps_nginx.domain_name }};
    root /var/www/sites/joomla;

    index index.php index.html;

    # Logging
    access_log /var/log/nginx/joomla_access.log;
    error_log  /var/log/nginx/joomla_error.log;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
     }

    location ~ /\.ht {
        deny all;
    }

}